<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script language="JavaScript" src="js/index.js"></script>
    <style>
        .test {
            width: 60%;
            margin-left: 20%;
            padding-top: 4px;
        }
    </style>
</head>
<body>

<!-- 提交信息到当前路由 -->
<form th:action="@{'/fruit.do'}" method="post" class="test">
    <input type="text" name="keyword" th:value="${session.keyword}"/>
    <input type="submit" value="查询水果" class="btn"/>
</form>


<div class="test">
    <a th:href="@{/fruit_add.html}">添加新库存记录</a>
</div>

<table border="1" cellpadding="0" cellspacing="0" class="test">
    <tr>
        <th colspan="6">欢迎使用水果库存后台管理系统</th>
    </tr>
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th>价格</th>
        <th>库存</th>
        <!-- 跳转到添加用户页面 -->
        <th>操作</th>
    </tr>

    <!-- 如果没有数据库中没有数据则显示空 -->
    <tr th:if="${#lists.isEmpty(session.fruitList)}">
        <td colspan="4">对不起，库存为空！</td>
    </tr>

    <!-- 如果数据库有数据，则遍历fruitList，取出数据展示 -->
    <tr th:unless="${#lists.isEmpty(session.fruitList)}" th:each="fruit ,status: ${session.fruitList}">
        <td th:text="${status.count}"></td>
        <td><a th:text="${fruit.name}">苹果</a></td>
        <td th:text="${fruit.price}">5</td>
        <td th:text="${fruit.count}">20</td>

        <td>
            <!-- 如果点击删除就触发点击事件delFruit，并传递id -->
            <img src="imgs/del.jpg" style="width: 30px" th:onclick="|delFruit(${fruit.id})|"/>
            <a th:href="@{/fruit.do(id=${fruit.id},operate='toUpdate')}">修改</a>
        </td>
    </tr>
</table>

<div class="test">
    <!-- 如果存在上一页 -->
    <div th:if="${session.page.hasPreviousPage}">
        <input type="button" value="上一页" th:onclick="|page(${session.page.prePage})|"/>
    </div>
    <div th:unless="${session.page.hasPreviousPage}">
        <!-- disabled="true"表示按钮不可用  -->
        <input type="button" value="上一页" disabled="true"/>
    </div>

    <!-- 循环页码 -->
    <!-- navigatepageNums：导航分页的页码，[1,2,3,4,5] -->
    <span th:each="num : ${session.page.navigatepageNums}">
        <!-- 如果当前页码为num则红色展示 -->
        <a th:if="${session.page.pageNum==num}" th:href="@{'/fruit.do?pageNum='+${num}}" th:text="'['+${num}+']'"
           style="color:red;"></a>
        <!-- 如果当前页码为num则标识普通展示 -->
        <a th:if="${session.page.pageNum!=num}" th:href="@{'/fruit.do?pageNum='+${num}}" th:text="${num}"></a>
    </span>

    <!-- 如果存在下一页 -->
    <div th:if="${session.page.hasNextPage}">
        <input type="button" value="下一页" th:onclick="|page(${session.page.nextPage})|"/>
    </div>
    <div th:unless="${session.page.hasNextPage}">
        <!-- disabled="true"表示按钮不可用  -->
        <input type="button" value="下一页" th:onclick="|page(${session.page.nextPage})|" disabled="true"/>
    </div>
</div>

</body>
</html>

<script>
    // 获取id并传递到指定路由
    function delFruit(id) {
        if (confirm('是否确认删除？')) {
            // 弹窗提示，当确认删除后走del.do路由
            window.location.href = '/fruit.do?id=' + id + '&operate=del';
        }
    }

    // 获取页码数并传递到fruit.do路由
    function page(pageNum) {
        window.location.href = "/fruit.do?pageNum=" + pageNum;
    }
</script>
